<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.logistics.dao.SyMenusMapper" >
  <resultMap id="BaseResultMap" type="com.example.logistics.model.SyMenus" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="parentID" property="parentid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.logistics.model.SyMenusWithBLOBs" extends="BaseResultMap" >
    <result column="text" property="text" jdbcType="VARBINARY" />
    <result column="url" property="url" jdbcType="VARBINARY" />
    <result column="tip" property="tip" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, parentID, type
  </sql>
  <sql id="Blob_Column_List" >
    text, url, tip
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.example.logistics.model.SyMenusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sy_menus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.logistics.model.SyMenusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sy_menus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sy_menus
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sy_menus
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.logistics.model.SyMenusExample" >
    delete from sy_menus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.logistics.model.SyMenusWithBLOBs" >
    insert into sy_menus (ID, parentID, type, 
      text, url, tip
      )
    values (#{id,jdbcType=INTEGER}, #{parentid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{text,jdbcType=VARBINARY}, #{url,jdbcType=VARBINARY}, #{tip,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.logistics.model.SyMenusWithBLOBs" >
    insert into sy_menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentid != null" >
        parentID,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="tip != null" >
        tip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARBINARY},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARBINARY},
      </if>
      <if test="tip != null" >
        #{tip,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.logistics.model.SyMenusExample" resultType="java.lang.Integer" >
    select count(*) from sy_menus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sy_menus
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parentid != null" >
        parentID = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.text != null" >
        text = #{record.text,jdbcType=VARBINARY},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARBINARY},
      </if>
      <if test="record.tip != null" >
        tip = #{record.tip,jdbcType=VARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sy_menus
    set ID = #{record.id,jdbcType=INTEGER},
      parentID = #{record.parentid,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      text = #{record.text,jdbcType=VARBINARY},
      url = #{record.url,jdbcType=VARBINARY},
      tip = #{record.tip,jdbcType=VARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sy_menus
    set ID = #{record.id,jdbcType=INTEGER},
      parentID = #{record.parentid,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.logistics.model.SyMenusWithBLOBs" >
    update sy_menus
    <set >
      <if test="parentid != null" >
        parentID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARBINARY},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARBINARY},
      </if>
      <if test="tip != null" >
        tip = #{tip,jdbcType=VARBINARY},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.logistics.model.SyMenusWithBLOBs" >
    update sy_menus
    set parentID = #{parentid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARBINARY},
      url = #{url,jdbcType=VARBINARY},
      tip = #{tip,jdbcType=VARBINARY}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.logistics.model.SyMenus" >
    update sy_menus
    set parentID = #{parentid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>